*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem;
    background-color: whitesmoke;
    box-shadow: 0 4px 5px -2px gray;
}

#header > h2 {
    color: darkslategray;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: darkslategray;
    font-size: larger;
}

#header > h2:hover,
.navlink:hover {
    cursor: pointer;
}

/* Welcome (Hero) Section */
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18rem 0rem;
    background-color: rgba(112, 128, 144, 0.178);
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.text-sm {
    font-size: medium;
    color: darkslategray;
}

.main-heading {
    color: darkslategray;
}

.section-heading {
    font-size: larger;
    color: lightslategray;
    border-bottom: 1px solid darkslategray
}

/* About Me Section */
#about {
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgba(47, 79, 79, 0.575);
    color: white;
}

#about > h2 {
    font-style: italic;
    color: white;
    border-bottom: 1px solid white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card > h3 {
    text-align: left;
}

.card-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;
}

.card-item > img {
    width: 10rem;
}

.card-item:hover {
    cursor: pointer;
    background-color: rgba(47, 79, 79, 0.685);
    transition: all ease-in-out 300ms;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.contact-info > a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
}

.contact-info > a:hover {
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    transition: all ease-in-out 400ms;
}


/* Projects Section */
#projects {
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 20rem;
    gap: 0.8rem;
}

.project-tile > img {
    width: 25rem;
}

.dark-button,
.light-button {
    padding: 0.5rem 1rem;
}

.light-button {
    border: 1px solid darkslategray;
    background-color: white;
}

.dark-button {
    text-decoration: none;
    border: 1px solid darkcyan;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: small;
}

.dark-button:hover,
.light-button:hover {
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    transition: all ease-in-out 500ms;
}

/* Footer */
footer {
    padding: 1.5rem 0rem;
    text-align: center;
    background-color: rgb(2, 24, 24);
    color: white;
}

footer > span {
    font-style: italic;
    font-size: small;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }    
}
  